.tech-side {
    width: 50%;
    margin-right: 2em;
}

.tech-heading {
    margin-top: 4rem;
    font-size: 56px;
    color: #212121;
}

.tech-title {
    line-height: 42px;
    font-size: 32px;
}

.tech-body {
    line-height: 34px;
    font-size: 24px;
    color: #666666;
}

.tech-third {
    margin: 3rem;
}

.tech-container {
    /* height: 150px; */
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
}