.project-description {
    color: var(--darkgray);
    font-size: 1.5em;
}


/* 
.project-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: .5em solid var(--yellow);
    width: 20em;
    height: 18em;
} */


/* 
.container {
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.clothingswap {
    grid-column-start: 1;
    grid-column-end: 2;
}

.wayfarer {
    grid-column-start: 2;
    grid-column-end: 3;
} */

.projects {
    margin: 1em;
    transition: all .3s ease-in-out;
}


/* Cards */

.project {
    height: 60vh;
    margin: 3em 1em;
    padding: 1em;
    width: 80%;
    background: whitesmoke;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.project-body {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1em;
    margin: 1em;
}

.project-header {
    text-align: center;
    color: #212121;
    font-size: 2em;
    font-weight: bold;
    z-index: 12;
}

.img-container {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    height: 80%;
    justify-content: center;
}

.project-img {
    position: absolute;
    left: 2%;
    height: 80%;
    margin: auto;
}

.project-text {
    padding: .3em;
    font-weight: bolder;
    font-size: 1.5em;
    color: #212121;
    border-radius: 5%;
}

.github-btn {
    padding: .3em;
    width: 40%;
    border-radius: 5%;
}


/* Type Components */

.types {
    display: flex;
    align-content: center;
    justify-content: center;
}

.type {
    padding: 0.5em;
    border-radius: 10%;
    margin: .5em;
    color: white;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.react {
    background-color: lightseagreen;
}

.node {
    background-color: lightcoral;
}

.express {
    background-color: lightgreen;
}

.mongoose {
    background-color: lightsteelblue;
}