header h1 {
    font-size: 3rem;
    letter-spacing: 4.8px;
    letter-spacing: 0.3rem;
}

.heading-title {
    color: white;
    margin-top: 40px;
    margin-top: 2.5rem;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

#header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(119, 113, 105, 0.509)), url('./desk.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    margin-top: 5vh;
    height: 90vh;
    margin-bottom: 48px;
    margin-bottom: 3rem;
}

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

h1 a,
.heading-title:hover,
header h2 {
    color: #fff;
}