ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.navbar-link:hover,
.navbar-link:visited,
.navbar-link:link,
.navbar-link:active {
    text-decoration: none;
}

ul>* {
    flex-direction: row;
    text-align: center;
    display: inline;
    margin-top: 1.3em;
}

.navbar-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.hamburger {
    height: 10vh;
    margin: auto;
    font-size: 1em;
}

.white {
    background-color: white;
}